/resources/zh/strings/key-value/key-value-combine-ansi-zh.exe
/resources/zh/strings/key-value/key-value-combined-result-ansi.txt
/resources/zh/strings/key-value/key-value-combined-result-utf8.txt
/resources/zh/strings/key-value/key-value-combine-utf8.exe